$accentColor: #3d979f;
$blue: #2e7177;
$dark: #3c474b;
$dark-text: #313a3f;
$font-size: 24;
$font-size920: 21;
$font-size768: 18;
$green: #6abd45;
$light: #ddf2f8;
$margin: 16px;
$max-width: 1140px;
$orange: #f7931e;
$padding: 16px;
